*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: url("./joseph-barrientos-oQl0eVYd_n8-unsplash.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    padding-top: 40px;
}
h1{
    background-color: rgba(255, 255, 255, 0.635);
    border-radius: 15px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}